* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  background-color: #242424;
  color: #fff;
  font-size: 20px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 60%;
  max-width: 500px;
  height: 40%;
  border-left: 2px solid #555;
  border-top: 2px solid #555;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 25px;
  box-shadow: 8px 8px 8px rgba(173, 21, 21, 0.6);
}

#score {
  display: flex;
  gap: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

#player-score p, #player-score span{
  color: red;
}

#computer-score p, #computer-score span{
  color: blue;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

button i {
  font-size: 50px;
  position: absolute; /* Position icon absolutely */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s;
  background-color: #000;
  box-shadow: 4px 4px 8px rgba(173, 21, 21, 0.6);
}

button:hover i {
  background-color: #000; /* Change icon background color on hover */
  color: #fff; /* Change icon color on hover */
  transition: 0.15s;
}

button:active {
  transform: scale(0.9);
  transition: 0.1s;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #242424;
  color: #fff;
  position: absolute;
  bottom: 0;
}

.copyright i {
  color: #ff004f;
}

.copyright i:hover {
  color: #ff004f;
  transform: scale(1.1);
  cursor: pointer;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  #container {
    width: 80%;
    height: auto; /* Allow height to adjust based on content */
    padding: 20px; /* Add some padding for better spacing */
  }

  button {
    width: 80px;
    height: 80px;
  }

  button i {
    font-size: 40px;
  }

  .copyright {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #container {
    width: 80%;
  }

  button {
    width: 60px;
    height: 60px;
  }

  button i {
    font-size: 30px;
  }
}
